.name-selection-container {
    
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 528px;

    outline: 2px solid black;
}

.name-selection-container input, .name-selection-container button {
    width: 200px;
    padding: .4rem;

}